<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.2.2/dist/echarts.min.js"></script>
</head>
<style>
    * {
        padding: 0;
        margin: 0;
    }

    body {
        background-color: #eee;
    }

    .main {
        margin: 100px 200px;
    }
</style>

<body>
    <div class="main">
        <!-- <com-site-count no-statistical env="<%= htmlWebpackPlugin.options.envId %>" hash="<%= htmlWebpackPlugin.options.pageHash %>"></com-site-count> -->
        <!-- <com-site-count env="<%= htmlWebpackPlugin.options.envId %>"></com-site-count> -->
        <com-comment-admin env="<%= htmlWebpackPlugin.options.envId %>"></com-comment-admin>
        <com-comment env="<%= htmlWebpackPlugin.options.envId %>" hash="<%= htmlWebpackPlugin.options.pageHash %>"></com-comment>
    </div>
</body>

</html>