<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8" />
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <!-- <script src="https://unpkg.com/echarts@5.2.2/dist/echarts.min.js"></script> -->
</head>
<style>
    * {
        padding: 0;
        margin: 0;
    }

    body {
        background-color: #eee;
    }

    .main {
        margin: 100px 200px;
    }
</style>

<body>
    <div class="main">
        <!-- <com-site-count no-statistical env="<%= htmlWebpackPlugin.options.envId %>" hash="<%= htmlWebpackPlugin.options.pageHash %>"></com-site-count>
        <com-site-count no-statistical env="<%= htmlWebpackPlugin.options.envId %>"></com-site-count> -->
        <com-comment-admin env="<%= htmlWebpackPlugin.options.envId %>">
            <div slot="unlogin">
                <div class="login">登录</div>
                <style scoped>
                    .login {
                        font-size: 20px;
                    }
                </style>
            </div>
            <div slot="logined">
                <div class="logined">退出</div>
                <style scoped>
                    .logined {
                        font-size: 20px;
                    }
                </style>
            </div>
        </com-comment-admin>
        <com-comment env="<%= htmlWebpackPlugin.options.envId %>" hash="<%= htmlWebpackPlugin.options.pageHash %>"></com-comment>
    </div>
</body>

</html>